body {
  font-family:$font;
}

h3 {
  font-size:2rem;
  margin-bottom:20px;
  line-height: 1.4;
}

p, li {
  font-size:19px;
}

a {
  color:$primary;
  transition: 0.4s;
  &:hover, &:active, &:focus {
    color:lighten($primary,10%);
    text-decoration: none;
  }
}

.lite {
  font-weight:300;
}

.text-primary {
    color:$primary!important;
}
